body {
	background: url("../res/ClearSwirls.png") no-repeat center center fixed;
	background-size: cover;
}

.align-fix {
	vertical-align: top;
}

.row {
	padding-top: 100px;
}

.heading {
	font-size: 4em;
	font-weight: bold;
}

table {
	margin: auto;
	vertical-align: top;
}

td {
	padding: 7px;
}

#message_after_login{
	color: #DF0101;
	font-weight: bold;
}
