body {
	font-family: "Lato", "Calibri", Tahoma, sans-serif;
}

.list {
	margin-top: 10px;
	margin-bottom: 10px;
}

.listelement {
	border: 2px solid black;
	text-align: center;
	line-height: 200%;
	font-size: 2em;
}

.logo {
	background-image: url("res/logoNavBar.png");
	background-position: center;
	background-repeat: no-repeat;
}

ul {
`	margin-left: 20%;
}

ul li {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
}